$light: rgb(238, 240, 242);
$secondary: rgb(20, 25, 30);

$gray-100: #f7f8f9;
$gray-200: #eff2f6;
$gray-300: #eef0f2;
$gray-400: #e1e4e6;
$gray-500: #a1a1a8;
$gray-600: #676a79;
$gray-700: #29292e;
$gray-800: #14191e;
$gray-900: #0f0f10;
