<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Email</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Hi <%= fullName %>,</h1>
      <p>
        We received a request to verify your email. If you did not make this
        request, you can safely ignore this email.
      </p>
      <p>To verify your email, please click the link below.</p>
      <a href="<%= link %>" class="btn">Verify Email</a>
    </div>
  </body>
</html>
