@import "@/app/assets/scss/custom/variables";

.spinner-dots {
  display: flex;
  align-items: center;

  .spinner-dot {
    background-color: $gray-500;
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    margin: 2px;
    animation: dot 1s infinite ease-in-out;
  }
}

@keyframes dot {
  0% {
    background-color: $gray-500;
    transform: scale(1);
  }

  50% {
    background-color: $gray-600;
    transform: scale(1.3);
  }

  100% {
    background-color: $gray-500;
    transform: scale(1);
  }
}
