@import "./variables-dark";

@include color-mode(dark) {
  --bs-secondary-rgb: 197, 198, 204 !important;

  // Main
  main {
    background-color: $body-bg-dark;
  }
  // Card
  .card {
    background-color: $card-dark;
    border-color: $light;

    .card-header {
      background-color: $card-dark;

      .card-title {
        color: $white;
      }
    }

    .card-footer {
      background-color: $card-dark;
      border-color: $light;
    }
  }

  // Background
  .bg-mode {
    background-color: $mode;
  }

  .bg-light {
    background-color: $light !important;
  }

  // Form
  .form-control {
    border-color: $gray-100-dark;
    background-color: $body-bg-dark;
    color: $gray-700-dark;

    &:focus {
      color: $gray-700-dark;
      background-color: $body-bg-dark;
    }
  }

  .input-group-text {
    background-color: $gray-200-dark;
    color: $gray-700-dark;
  }

  .password-strength-meter {
    background-color: $gray-200-dark;
  }

  // Navbar
  .nav-link {
    color: $gray-500-dark;
    &:hover,
    &:focus {
      color: $primary;
    }
  }

  .nav-link-secondary {
    .nav-item {
      .nav-link {
        color: $gray-800-dark;
      }
    }
  }

  .dropdown-menu {
    background-color: $mode;

    .dropdown-item {
      &:hover {
        background-color: $mode;
        color: $primary;
      }
    }
  }

  // Button
  // .btn {
  //   color: $gray-400-dark;
  // }

  .btn-light {
    background-color: $light !important;
    color: $gray-700-dark !important;
    border-color: $light !important;

    &:not(#searchButton):hover {
      background-color: $gray-400-dark;
      color: $gray-900-dark;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    $headings-color: $gray-800-dark;
    & > a {
      color: $headings-color;
    }
  }
  .modal {
    --bs-modal-bg: rgb(25, 26, 31);
    --bs-border-color: rgba(255, 255, 255, 0.07);
  }

  .form-select {
    background-color: rgb(25, 26, 31);
    color: $gray-700-dark;
    border: 1px solid $gray-100-dark;
  }

  .btn-secondary-soft {
    --bs-secondary-rgb: 197, 198, 204;
    background-color: rgba(var(--bs-secondary-rgb), 0.1) !important;
    color: $gray-600-dark !important;
  }
}
