.fill-dark {
  fill: $gray-800;
}

.fill-white {
  fill: white;
}

// Background
.bg-mode {
  background-color: $white;
}

// Modal
$modal-content-bg: $white;

// Toast
$toast-background-color: $white;
$toast-header-background-color: $white;

// Dropzone
.dropzone {
  padding: 20px;
  min-height: auto;
  border-radius: $border-radius;
  position: relative;
  z-index: 0;
  border: 2px dashed $gray-300;
  cursor: pointer;
  .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px;

    &.dz-image-preview {
      background: transparent;
    }
  }

  .dz-message {
    text-align: center;
    margin: 2em 0;
  }
}

// Stories
.stories.carousel {
  .story {
    height: 150px !important;
    width: 120px !important;
    max-width: inherit !important;
    position: relative;
    margin-bottom: 4px;

    &.seen {
      opacity: 0.5 !important;
    }

    .item-link {
      height: 100% !important;

      .item-preview {
        border-radius: 5px !important;
        object-fit: cover !important;
        max-height: inherit !important;
        padding: 0 !important;
        height: inherit !important;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          height: 50%;
          width: 100%;
          bottom: 0;
          left: 0;
          right: 0;
          background-image: linear-gradient(180deg, transparent, black);
          z-index: 1;
        }

        img {
          border-radius: 5px !important;
          border: none !important;
        }
      }

      .info {
        position: absolute;
        left: 10px;
        bottom: 6px;
        color: $white;
        text-align: left;
        z-index: 1;

        .name {
          font-weight: 500 !important;
          font-size: 0.8203125rem;
        }
      }
    }
  }
}

// Offcanvas
$offcanvas-bg-color: $white;
@include media-breakpoint-down(md) {
  .offcanvas-start {
    width: 260px !important;
  }
}

// Card
$card-bg: $white;
$card-cap-bg: $white;
$card-title-color: $gray-800;
$card-cap-padding-y: 1.25rem;
$card-cap-padding-x: 1.25rem;
$card-spacer-y: 1.25rem;
$card-spacer-x: 1.25rem;

// Container
$container-max-widths: (
  sm: 96%,
  md: 100%,
  lg: 100%,
  xl: 1140px,
  xxl: 1200px,
);

// Form
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
$input-color: $gray-700;
$input-focus-color: $input-color;
$input-border-color: $gray-400;
$input-border-radius-lg: 0.2rem;
$input-font-size-lg: 1rem;
$input-font-size: $font-size-base;
$input-padding-y: 0.5rem;
$input-padding-x: 1rem;
$input-padding-y-lg: 0.8rem;
$input-padding-x-lg: 1.5rem;
$link-decoration: none;
$input-focus-box-shadow: none;
$input-focus-border-color: $primary;
$input-placeholder-color: $gray-500;
$input-group-addon-color: $gray-900;
$input-bg: $white;
$input-focus-bg: $input-bg;

$form-select-font-size: $font-size-base;
$form-select-indicator-padding: 0;
$form-select-bg-position: right 0.5rem center;
$form-select-color: $gray-700;
$form-select-indicator-color: $form-select-color;
$form-select-bg: $white;

.password-strength-meter {
  height: 8px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background-color: $gray-200;

  .password-strength-meter-score {
    height: inherit;
    transition: 0.3s ease-in-out;
    width: 0%;

    &.psms-20 {
      background-color: $danger;
      width: 20%;
    }

    &.psms-40 {
      background-color: $warning;
      width: 40%;
    }

    &.psms-60 {
      background-color: $info;
      width: 60%;
    }

    &.psms-80 {
      background-color: $primary;
      width: 80%;
    }

    &.psms-100 {
      background-color: $success;
      width: 100%;
    }
  }
}

textarea.form-control {
  min-height: calc(1.5em + 1rem + 2px) !important;
}

// Dropdown
$dropdown-bg: $white;
$dropdown-divider-bg: rgba(0, 0, 0, 0.1);
$dropdown-border-color: rgba(0, 0, 0, 0.06);
.dropdown-menu {
  box-shadow: 0px 20px 30px rgba(83, 88, 93, 0.1),
    0px 0px 30px rgba(83, 88, 93, 0.2);
}
$dropdown-link-hover-bg: transparent;
$dropdown-link-hover-color: $primary;
$dropdown-font-size: $h6-font-size;

// Navbar
$navbar-padding-y: 0;
$navbar-toggler-focus-width: 0;
$navbar-light-color: $gray-700;
$navbar-light-active-color: $primary;
$navbar-light-hover-color: $primary;
$nav-link-color: $navbar-light-color;
$nav-link-padding-y: 0.25rem;
$nav-link-padding-x: 0.75rem;
$navbar-nav-link-padding-x: 1rem;

.navbar-nav {
  .dropdown-menu {
    position: absolute !important;
  }

  .nav-link {
    padding: 0;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 56px;
  }
}

.nav {
  &.nav-bottom-line {
    .nav-link {
      background: transparent;
      border-bottom: 3px solid transparent;
      border: transparent;
      font-weight: 600;
      padding: 0.75rem 0.975rem;

      &.active {
        background: transparent;
        color: $primary;
        border-bottom: 3px solid $primary;
      }
    }
  }

  &.nav-divider {
    .nav-item + .nav-item:before {
      content: "\2022";
      color: inherit;
      padding-left: 0.6rem;
      padding-right: 0.6rem;
      opacity: 0.8;
    }
    .nav-item {
      display: flex;
      align-items: center;
    }
    .nav-link {
      padding: 0;

      &.active {
        color: $primary;
      }
    }
  }

  &.nav-stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7rem;
    .nav-link {
      padding-left: 0;
      padding-right: 0;

      &.active {
        color: $primary;
      }
    }
  }

  &.nav-tabs {
    .nav-link {
      padding: 0.5rem 1rem;
    }
  }
}

.nav-link-secondary {
  .nav-item {
    .nav-link {
      color: $gray-800;
    }
  }
}

.nav-pills-soft {
  .nav-link {
    color: $gray-800;

    &.active {
      color: $primary !important;
      background-color: rgba(var(--bs-primary-rgb), 0.1) !important;
      .svg-circle {
        background-color: $primary;
        color: white;
      }
    }

    &:hover {
      color: $gray-800;
      background-color: rgba(var(--bs-primary-rgb), 0.1) !important;
    }
  }

  .svg-circle {
    background-color: $gray-400;
    color: $gray-800;
  }

  .show > .nav-link {
    background-color: rgba(var(--bs-primary-rgb), 0.1) !important;
    color: $gray-800;
  }
}

@include media-breakpoint-down(lg) {
  .navbar-expand-lg {
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: $white;
      box-shadow: 0 10px 30px rgba(83, 83, 93, 0.2);
      border-top: 1px solid rgba(0, 0, 0, 0.1);

      .navbar-nav {
        .nav-item {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);

          .nav-link {
            padding: 5px 30px;
            line-height: 40px;
          }
        }
      }
    }
  }

  .navbar-brand {
    padding: 10px 0 !important;
  }
}

.navbar-toggler {
  background-color: $light !important;
  border: 0 !important;

  .navbar-toggler-animation {
    position: relative;
    height: 20px;
    width: 20px;
    display: inline-block;
    transition: all 0.3s ease-in-out;

    span {
      height: 2px;
      width: 100%;
      background-color: $gray-600;
      border-radius: 30px;
      position: absolute;
      display: block;
      transition: all 0.3s ease-in-out;

      &:nth-child(1) {
        top: 10%;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 10%;
      }
    }
  }

  &:not(.collapsed) .navbar-toggler-animation {
    span {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
      }
    }
  }
}

nav {
  &.fixed-top {
    & + main {
      padding-top: calc(1.5rem + 56px);
      margin-bottom: 1.5rem;
    }
  }
}

// Button
$btn-padding-y: 0.5rem;
$btn-padding-x: 1rem;
$btn-padding-y-sm: 0.4rem;
$btn-padding-x-sm: 0.8rem;
$btn-padding-y-lg: 0.8rem;
$btn-padding-x-lg: 1.5rem;
$btn-font-size-lg: 1rem;
$btn-border-radius-lg: 0.2rem;
$btn-font-size: $font-size-base;
$btn-transition: all 0.3s ease-in-out;
$btn-font-weight: 500 !important;

// button soft
@mixin button-soft-variant($color, $soft-background: rgba($color, 0.1)) {
  color: $color !important;
  background-color: $soft-background !important;
  &:active,
  &:hover,
  &:focus {
    color: color-contrast($color) !important;
    background-color: $color !important;
    border-color: $color !important;
  }
}
@each $color, $value in $theme-colors {
  .btn-#{$color}-soft {
    @include button-soft-variant($value);
  }
}

// button soft hover
@mixin button-soft-variant-hover($color, $soft-background: rgba($color, 0.1)) {
  &:hover {
    color: $color !important;
    background-color: $soft-background;
  }
}
@each $color, $value in $theme-colors {
  .btn-#{$color}-soft-hover:hover {
    @include button-soft-variant-hover($value);
  }
}

// button dashed
.btn-dashed {
  --#{$prefix}border-color: rgba(0, 0, 0, 0.1);
  background: linear-gradient(
      90deg,
      var(--#{$prefix}border-color) 50%,
      transparent 50%
    ),
    linear-gradient(0deg, var(--#{$prefix}border-color) 50%, transparent 50%),
    linear-gradient(90deg, var(--#{$prefix}border-color) 50%, transparent 50%),
    linear-gradient(0deg, var(--#{$prefix}border-color) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 10px 2px, 2px 10px, 10px 2px, 2px 10px;
  background-position: left top, right top, left bottom, left top;
  padding: $btn-padding-y, $btn-padding-x;
  &:hover {
    animation: border-dance 4s infinite linear;
  }
}
@keyframes border-dance {
  0% {
    background-position: left top, right top, right bottom, left bottom;
  }
  100% {
    background-position: right top, right bottom, left bottom, left top;
  }
}

// Badge
.badge-unread {
  background-color: $light !important;
  &:hover {
    background-color: $light;
  }
  &:before {
    content: "";
    width: 7px;
    height: 7px;
    background: $primary;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 4px;
  }
}

// Stories
.stories {
  overflow: auto;
  white-space: nowrap;

  &::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    background-color: #e1e4e6;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: $white;
  }

  .story {
    display: inline-block;
    height: 150px;
    width: 120px;
    margin: 0 6px 4px 6px;
    vertical-align: top;

    .item {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      border: none;

      img {
        border-radius: 5px;
        object-fit: cover;
        background-position: 50%;
        background-size: cover;
      }

      .info {
        position: absolute;
        left: 10px;
        bottom: 6px;
        color: $white;
        text-align: left;
        line-height: 1.2em;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: inline-block;
        z-index: 1;

        .name {
          font-weight: 500;
          font-size: 0.8203125rem;
        }
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &.seen {
      opacity: 0.5;
    }
  }
}

.story-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  visibility: hidden;
  transform: scale(0.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &.show {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }

  .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 42px;
    line-height: 48px;
    background-color: transparent;
    color: $white;
    border: none;
  }
}

.plyr {
  @extend .card-img;
}
