$light: rgb(32, 34, 39);
$secondary: rgb(197, 198, 204);
$gray-100-dark: rgb(49, 50, 53);
$gray-200-dark: rgb(70, 73, 80);
$gray-300-dark: rgb(95, 95, 104);
$gray-400-dark: rgb(161, 161, 168);
$gray-500-dark: rgb(191, 192, 201);
$gray-600-dark: rgb(197, 198, 204);
$gray-700-dark: rgba(255, 255, 255, 0.7);
$gray-800-dark: rgba(255, 255, 255, 0.98);
$gray-900-dark: rgb(255, 255, 255);

$mode: rgb(15, 15, 16);
$card-dark: rgb(20, 21, 25);

$body-color-dark: $gray-400-dark;
$body-bg-dark: rgb(25, 26, 31);
