@import "~bootstrap-icons/font/bootstrap-icons";

@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/variables-dark";
@import "/node_modules/bootstrap/scss/maps";
@import "/node_modules/bootstrap/scss/mixins";
@import "/node_modules/bootstrap/scss/utilities";
@import "/node_modules/bootstrap/scss/reboot";

// Body
$body-color: #676a79;
$font-size-base: 0.9375rem;

.fill-dark {
  fill: rgb(20, 25, 30);
}

.fill-white {
  fill: rgb(255, 255, 255);
}

// Remove toggle password in Microsoft Edge and IE
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

$display-font-weight: 700;

$headings-font-weight: 700;
$h1-font-size: calc(1.359375rem + 1.3125vw);
$headings-color: $gray-900;
$enable-negative-margins: true;

$input-border-color: $gray-400;
$input-border-radius-lg: 0.2rem;
$input-font-size-lg: 1rem;
$input-padding-y-lg: 0.8rem;
$input-padding-x-lg: 1.5rem;
$input-color: $gray-900;
$input-focus-color: $gray-900;
$link-decoration: none;
$input-focus-box-shadow: none;
$input-focus-border-color: $primary;
$input-placeholder-color: $gray-500;
$input-group-addon-color: $gray-900;

$btn-padding-y-lg: 0.8rem;
$btn-padding-x-lg: 1.5rem;
$btn-font-size-lg: 1rem;
$btn-border-radius-lg: 0.2rem;

$nav-link-color: $secondary;

$utilities: (
  "opacity": (
    property: opacity,
    values: (
      0: 0,
      10: 0.1,
      25: 0.25,
      50: 0.5,
      75: 0.75,
      100: 1,
    ),
  ),

  "width": (
    property: width,
    class: w,
    values: (
      "40px": 40px,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
  ),
);

a {
  transition: all 0.3s ease-in-out;
}

.cursor-pointer {
  cursor: pointer;
}

.password-strength-meter {
  height: 8px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background-color: $gray-200;

  .password-strength-meter-score {
    height: inherit;
    transition: 0.3s ease-in-out;
    width: 0%;

    &.psms-20 {
      background-color: $danger;
      width: 20%;
    }

    &.psms-40 {
      background-color: $warning;
      width: 40%;
    }

    &.psms-60 {
      background-color: $info;
      width: 60%;
    }

    &.psms-80 {
      background-color: $primary;
      width: 80%;
    }

    &.psms-100 {
      background-color: $success;
      width: 100%;
    }
  }
}

.icon-xs {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.6em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon-sm {
  height: 2rem;
  width: 2rem;
  font-size: 0.7em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon-md {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 0.9em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon-lg {
  height: 3rem;
  width: 3rem;
  font-size: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon-xl {
  height: 4rem;
  width: 4rem;
  font-size: 1.6em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon-xxl {
  height: 5.125rem;
  width: 5.125rem;
  font-size: 2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@import "/node_modules/bootstrap/scss/bootstrap";
