@import "~bootstrap-icons/font/bootstrap-icons";

@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/variables-dark";
@import "/node_modules/bootstrap/scss/maps";
@import "/node_modules/bootstrap/scss/mixins";
@import "/node_modules/bootstrap/scss/utilities";
@import "/node_modules/bootstrap/scss/reboot";

// Body
$body-color: #676a79;
$font-size-base: 0.9375rem;

.fill-dark {
  fill: rgb(20, 25, 30);
}

.fill-white {
  fill: rgb(255, 255, 255);
}

$display-font-weight: 700;

$headings-font-weight: 700;
$h1-font-size: calc(1.359375rem + 1.3125vw);
$headings-color: $gray-900;
$enable-negative-margins: true;

$btn-padding-y-lg: 0.8rem;
$btn-padding-x-lg: 1.5rem;
$btn-font-size-lg: 1rem;
$btn-border-radius-lg: 0.2rem;

$nav-link-color: $secondary;

$utilities: (
  "opacity": (
    property: opacity,
    values: (
      0: 0,
      10: 0.1,
      25: 0.25,
      50: 0.5,
      75: 0.75,
      100: 1,
    ),
  ),

  "width": (
    property: width,
    class: w,
    values: (
      "40px": 40px,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
  ),
);

a {
  transition: all 0.3s ease-in-out;
}

.cursor-pointer {
  cursor: pointer;
}
@import "./darkmode";
@import "./input";
@import "./navbar";
@import "./button";
@import "/node_modules/bootstrap/scss/bootstrap";
@import "./general";
