// Import Bootstrap and Bootstrap Icons
@import "~bootstrap-icons/font/bootstrap-icons";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";

// Body
$body-color: #676a79;
$font-size-base: 0.9375rem;

$enable-negative-margins: true;

$utilities: (
  "opacity": (
    property: opacity,
    values: (
      0: 0,
      10: 0.1,
      25: 0.25,
      50: 0.5,
      75: 0.75,
      100: 1,
    ),
  ),

  "width": (
    property: width,
    class: w,
    values: (
      "40px": 40px,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
  ),
);

a {
  transition: all 0.3s ease-in-out;
}

.cursor-pointer {
  cursor: pointer;
}

@import "./custom/typography";
@import "./custom/form";
@import "./custom/navbar";
@import "./custom/button";
@import "./custom/darkmode";
@import "~bootstrap/scss/bootstrap";
@import "./custom/general";
