@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.navbar-vertical-fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  width: 16.25rem;

  transform: translateX(-16.25rem);
  transition: transform 0.2s ease;

  @include media-breakpoint-up(xl) {
    transition: width 0.2s ease;
    transform: translateX(0);
  }

  &.show {
    transform: translateX(0);
  }

  &.collapsed {
    width: 5.75rem;

    .navbar-link-title {
      display: none;
    }
  }
}

.navbar-overlay {
  position: fixed;
  inset: 0;
  z-index: 99;
  background-color: rgba(19, 33, 68, 0.25);
  opacity: 0;
  transition: all 0.2s ease;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.navbar-vertical {
  display: block !important;
  padding: 0 !important;

  .navbar-brand {
    display: flex;
    align-items: center;
    height: 3.875rem;
    padding-right: 1.75rem;
    padding-left: 1.75rem;
  }

  .navbar-aside-toggler {
    position: absolute;
    top: 0.734375rem;
    right: -1.203125rem;
  }

  .nav-link {
    margin-bottom: 0.25rem;
    padding: 0.5rem 0.875rem;
    display: flex !important;
    align-items: center;
    width: 100%;
    color: #132144 !important;
    background-color: transparent !important;

    &:hover,
    &.active {
      background-color: rgba(189, 197, 209, 0.2) !important;
    }
  }

  &.navbar-bordered {
    border-width: 0 0.0625rem 0 0;
  }
}

.navbar-vertical-footer-offset {
  height: 100%;
  padding-bottom: 4.25rem;
  position: relative;
}

.navbar-vertical-content {
  height: calc(100% - 3.875rem);
  overflow-y: auto;
}

.card-navbar-nav {
  padding: 1.5rem 0.5rem;
}

// .nav-link {
//   display: flex !important;
//   align-items: center;
//   width: 100%;
//   color: #132144 !important;
//   background-color: transparent !important;

//   &:hover {
//     background-color: rgba(189, 197, 209, 0.2) !important;
//   }
// }

.nav-pills {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem;
}

.dropdown-toggle {
  &:after {
    width: 1rem;
    height: 1rem;
    background-image: url("/src/assets/right_arrow.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1rem 1rem;
    padding-left: 1.25rem;
    margin-left: auto !important;
    border: none !important;
    transition: 0.3s;
  }
}

.nav-collapse {
  position: relative;
  padding-left: 1.9375rem;

  &::before {
    position: absolute;
    top: 0;
    left: 1.3125rem;
    width: 0.125rem;
    height: calc(100% - 0.25rem);
    content: "";
    background-color: rgba(231, 234, 243, 0.7);
  }
}
