@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.navbar-vertical-fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  width: 16.25rem;

  transform: translateX(-16.25rem);
  transition: transform 0.2s ease;

  @include media-breakpoint-up(xl) {
    transition: width 0.2s ease;
    transform: translateX(0);
  }

  .navbar-vertical-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 0.0625rem solid rgba(231, 234, 243, 0.7);
    padding: 0.75rem 2rem;

    .navbar-vertical-footer-list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding-left: 0;
      list-style: none;
      margin-bottom: 0;

      .navbar-vertical-footer-list-item {
        position: relative;
        margin: 0 0.5rem;
      }
    }
  }

  a.dropdown-toggle {
    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }

  .dropdown-toggle {
    position: relative;
    &:before {
      position: absolute;
      top: 50%;
      left: 5px;
      content: " ";
      width: 5px;
      height: 5px;
      opacity: 0;
      border-radius: 50%;
      transform: translateY(-50%);
      transition: opacity 0.3s;
      background-color: #bdc5d1;
    }

    &:after {
      width: 1rem;
      height: 1rem;
      background-image: url("/src/assets/right_arrow.svg");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 1rem 1rem;
      margin-left: auto !important;
      border: none !important;
      transition: 0.3s;
    }
  }

  &.collapsed {
    .nav-collapse {
      position: absolute !important;
      left: calc(100% + 0.9125rem);
      min-width: 15rem;
      background-color: white;
      box-shadow: 0 0.6125rem 2.5rem 0.6125rem rgba(140, 152, 164, 0.175);
      border-radius: 0.3125rem;
      padding: 0.5rem 0.5rem;
      z-index: 2;

      &::before {
        display: none;
      }
    }

    .dropdown-toggle {
      &.active,
      &:hover {
        &:before {
          background-color: $primary;
          opacity: 1;
        }
      }

      &:before {
        opacity: 1;
      }

      &:after {
        display: none;
      }
    }
  }

  &.show {
    transform: translateX(0);
  }

  &.collapsed {
    width: 5.75rem;

    .navbar-link-title {
      display: none;
    }
  }
}

.navbar-overlay {
  position: fixed;
  inset: 0;
  z-index: 99;
  background-color: rgba(19, 33, 68, 0.25);
  opacity: 0;
  transition: all 0.2s ease;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.navbar-vertical {
  display: block !important;
  padding: 0 !important;

  .navbar-brand {
    display: flex;
    align-items: center;
    height: 3.875rem;
    padding-right: 1.75rem;
    padding-left: 1.75rem;
  }

  .navbar-aside-toggler {
    position: absolute;
    top: 0.734375rem;
    right: -1.203125rem;
  }

  .nav-item:not(:last-child) {
    margin: 0;
  }

  &.navbar-bordered {
    border-width: 0 0.0625rem 0 0;
  }
}

.navbar-vertical-footer-offset {
  height: 100%;
  padding-bottom: 4.25rem;
  position: relative;
}

.navbar-vertical-content {
  height: calc(100% - 3.875rem);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.6125rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(189, 197, 209, 0.6);
  }
}

.card-navbar-nav {
  padding: 1.5rem 0.5rem;
}

.nav-pills {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem;

  .nav-link:hover {
    color: rgb(19, 33, 68);
    background-color: rgba(189, 197, 209, 0.2) !important;
  }
}

.nav-collapse {
  position: relative;
  padding-left: 1.9375rem;

  &::before {
    position: absolute;
    top: 0;
    left: 1.3125rem;
    width: 0.125rem;
    height: calc(100% - 0.25rem);
    content: "";
    background-color: rgba(231, 234, 243, 0.7);
  }
}

.nav-vertical {
  &.nav-pills {
    .nav-link {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
      padding: 0.5rem 0.875rem !important;
      margin-bottom: 0.25rem;
      color: rgb(19, 33, 68) !important;
      background-color: transparent !important;

      &:hover {
        background-color: rgba(189, 197, 209, 0.2) !important;
      }

      &.active {
        color: $primary !important;
        background-color: transparent;
      }
    }
  }
}
