.dropzone {
  padding: 20px;
  min-height: auto;
  border-radius: $border-radius;
  position: relative;
  z-index: 0;
  border: 2px dashed $gray-300;
  cursor: pointer;
  .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px;

    &.dz-image-preview {
      background: transparent;
    }
  }

  .dz-message {
    text-align: center;
    margin: 2em 0;
  }
}
