main {
  background-color: $body-bg;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.icon-xs {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.6em;
  @extend .icon;
}
.icon-sm {
  height: 2rem;
  width: 2rem;
  font-size: 0.7em;
  @extend .icon;
}
.icon-md {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 0.9em;
  @extend .icon;
}
.icon-lg {
  height: 3rem;
  width: 3rem;
  font-size: 1em;
  @extend .icon;
}
.icon-xl {
  height: 4rem;
  width: 4rem;
  font-size: 1.6em;
  @extend .icon;
}
.icon-xxl {
  height: 5.125rem;
  width: 5.125rem;
  font-size: 2em;
  @extend .icon;
}

.fill-dark {
  fill: $gray-800;
}

.fill-white {
  fill: white;
}

.flip-horizontal {
  transform: scaleX(-1);
  display: inline-block;
}

.border-dashed {
  border-style: dashed !important;
}

.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vstack {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
