.card {
  box-shadow: 0 0.1875rem 0.75rem rgba(140, 152, 164, 0.075) !important;
  &.card-hover-shadow {
    transition: 0.3s;

    &:hover {
      box-shadow: 0 0.1875rem 0.75rem rgba(140, 152, 164, 0.25) !important;
    }
  }

  .table {
    margin-bottom: 0;
  }

  .card-subtitle {
    text-transform: uppercase;
    font-size: 0.7109375rem;
  }
}

.card-header-content-md-between {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
  }
}
