.input-group-merge {
  position: relative;
  overflow: hidden;
  border: 0.0625rem solid rgba(231, 234, 243, 0.7);
  border-radius: 0.3125rem;

  .input-group-prepend {
    position: absolute;
    top: 1px;
    bottom: 1px;
    z-index: 6;
    background-color: transparent;
  }
}

.input-group-flush {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;

  .form-control {
    border-width: 0;
    background-color: transparent;
    box-shadow: none;
    padding-right: 0;
    padding-left: 0;
    color: #1e2022;
  }

  &.input-group-merge {
    .form-control {
      padding-left: 2rem;
    }

    .input-group-prepend {
      padding: 0;
    }
  }

  .input-group-prepend {
    border-width: 0;
  }
}
