@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$body-color: rgb(103, 119, 136);
$headings-font-weight: 600;
$font-size-base: 0.875rem;
$dropdown-spacer: 0.625rem;
$dropdown-border-width: 0px;
$dropdown-border-radius: 0.625rem;
$h5-font-size: $font-size-base;
$dropdown-padding-x: 0.5rem;
$dropdown-divider-bg: rgba(231, 234, 243, 0.7);
$dropdown-font-size: 0.8125rem;
$dropdown-link-color: rgb(30 32 34);
$dropdown-link-hover-color: $dropdown-link-color;
$dropdown-link-hover-bg: rgba(189, 197, 209, 0.2);
$dropdown-item-padding-y: 0.5rem;
$dropdown-item-padding-x: 1rem;

$font-family-sans-serif: "Inter", sans-serif;

@import "bootstrap/scss/bootstrap";

.btn-icon {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  width: 2.625rem;
  height: 2.625rem;
  padding: 0;
}

.btn-ghost-secondary {
  color: #71869d;
  background-color: transparent;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 0.5rem;
}

.avatar-sm {
  width: 2.40625rem;
  height: 2.40625rem;
}

.avatar-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.avatar-circle {
  border-radius: 50%;
}

.avatar-status {
  position: absolute;
  bottom: -0.459375rem;
  right: -0.459375rem;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-align: center;
  vertical-align: baseline;
  border: 0.125rem solid #fff;
  width: 1.1484375rem;
  height: 1.1484375rem;
  line-height: 1;
  font-size: 0.65625rem;
  border-radius: 50%;
}

.avatar-sm-status {
  bottom: -0.08203125rem;
  right: -0.08203125rem;
  width: 0.8203125rem;
  height: 0.8203125rem;
  font-size: 0.4375rem;
}

.avatar-status-success {
  color: #fff;
  background-color: #00c9a7;
}
