.table-lg {
  > :not(caption) > * > * {
    padding: 1rem 1.3125rem;
  }
}

.thead-light {
  th {
    background-color: #f8fafd;
    color: #677788;
    font-weight: 400;
    font-size: 0.74375rem;
  }
}
