@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.main {
  padding-top: 3.875rem;
  transition: padding-left 0.2s ease;

  @include media-breakpoint-up(xl) {
    padding-left: 16.25rem;

    &.navbar-vertical-collapsed {
      padding-left: 5.75rem;
    }
  }
}
